
.game h2 {
    font-size: 3.0em;
}

.points span {
    font-weight: bold;
}

.tip span {
    color: var(--golden-yellow);
}

.wordContainer {
    margin: 1.5em;
    padding: 1.5em;
    border: 20px solid var(--dark-blue);
    display: flex;
}

.letter, .blankSquare {
    font-size: 70px;
    line-height: 1.5;
    border: 2px solid var(--golden-yellow);
    height: 100px;
    width: 100px;
    text-transform: uppercase;
    background-color: var(--light-green);
    color: #fff;
    font-weight: bold;
}

.letterContainer p {
    margin-bottom: 1.2em;
}

.letterContainer form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.letterContainer input {
    height: 50px;
    width: 50px;
    font-size: 2em;
    text-align: center;
    margin-right: 1em;
}