html, body {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--light-blue);
  color: white;
}


:root {
 
  --title-game: Luckiest Guy;

  --light-green: #62e212e7;
  --dark-green: #5E9E68;
  --light-blue: #8A45F0;
  --dark-blue: #4f416d70;
  --golden-yellow: #EFD900;
  
}

h1 {
  font-family: var(--title-game);
  text-shadow:
      -1px -1px 0 #000,
       1px -1px 0 #000,
      -1px  1px 0 #000,
       1px  1px 0 #000;
}

button {
  background: var(--dark-green);
  color: #fff;
  padding: 10px 45px;
  border: 2px solid #fff;
  border-radius: 15px;
  height: 60px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.4em;
  cursor: pointer;
  transition: .4s;
}

button:hover {
  background-color: var(--light-green);
}